.classpath
.project
org.eclipse.jdt.core.prefs
org.eclipse.wst.common.component
org.eclipse.wst.common.project.facet.core.xml
WebContent/
WebContent/*
*.class
target/*
src/main/webapp/WEB-INF/lib/*
/target
/.settings
*.iml
*.ipr
*.iws
.idea
bin
local
/.pydevproject
/tomcat**
.DS_Store